<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="referrer" content="no-referrer">
    <title>自制音乐播放器_U2</title>
    <link rel="stylesheet" media="screen" href="index.css">
</head>
<body>
    <div class="wrap" id="app">
        <div class="play_wrap" id="player">
            <div class="search_bar">
                <img src="https://gitee.com/unuliha/img01/raw/master/portrait.jpg" alt="htly"/>
                <div class="search-box">
                    <input type="text" autocomplete="off" v-model="query"
                           @keyup.enter="searchMusic" placeholder="请输入歌手名或歌曲名">
                    <img 
                        id='search-icon' 
                        src="https://nextlab.oss-cn-shanghai.aliyuncs.com/img/9FeKnVlohsY3krO.png"
                        @click="searchMusic"
                    >
                </div>
            </div>
            <div class="center_con">
                <div class="song_wrapper">
                    <div class="song_list_wrapper" ref = 'song_list_wrapper'>
                    <ul class="song_list" :if = "musicList && musicList.length>0">
                        <li v-for="item in musicList">
                            <a @click = "playMusic(item.id)"></a>
                            <b>{{item.name}}</b>
                            <span v-if="item.mv>0" @click="playMv(item.mv)">
                                <i></i>
                            </span>
                        </li>
                    </ul>
                    </div>
                </div>
<!--                歌曲信息容器-->
                <div class="player_con" :class="{playing:isPlaying}">
                    <img src="https://nextlab.oss-cn-shanghai.aliyuncs.com/img/gZHko2WlpJNcGPv.png" class="play_bar">
                    <img src="https://nextlab.oss-cn-shanghai.aliyuncs.com/img/hQPuH4gNRx7XayI.png" class="disc autoRotate">
                    <img :src="musicCover" class="cover autoRotate"/>
                </div>
<!--                评论容器-->
                <div class="comment_wrapper"  ref = 'comment_list'>
                    <h5 class="title">热门留言</h5>
                    <div class="comment_list">
                        <dl v-for="item in hotComments">
                            <div>
                                <dt>
                                    <img :src="item.user.avatarUrl"/>
                                </dt>
                                <dd class="name">{{item.user.nickname}}</dd>
                            </div>
                            <dd class="detail">
                                {{item.content}}
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="audio_con">
                <audio ref="audio" @play="play" @pause="pause" :src="musicUrl" controls autoplay loop
                       class="myaudio"></audio>
            </div>
            <div class="video_con"  v-show="isShow" style="display: none;">
                <video :src="mvUrl" controls="controls" ref="video" type="video/mp4"></video>
                <div class="mask" @click="hide"></div>
            </div>
        </div>
    </div>
<script src="https://unpkg.com/axios@1.2.1/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3.2.45/dist/vue.global.js"></script>
<script>
    const { createApp } = Vue
    var app = createApp({
        data(){
            return {
            query:'',
            musicList:[],
            songNum:0,
            conmmentNum:0,
            musicUrl:'',
            musicCover:'',
            hotComments:[],
            isPlaying:false,
            isShow:false,
            mvUrl:""
            }
        },
        methods:{
            searchMusic(){
                if (this.query === '') {
                    console.log('请输入正确的歌曲名或歌手名！');
                    return;
                }
                axios.get("https://autumnfish.cn/search?keywords="+this.query)
                .then( (response)=>{
                    this.musicList = response.data.result.songs;
                    this.songNum = response.data.result.songCount;
                })
            },
            loadmoreMusic() {
                const temLength = this.musicList.length;
                if (temLength===this.songNum) {
                    return;
                }
                axios.get("https://autumnfish.cn/search?keywords="+this.query+"&limit=30"+"&offset="+temLength)
                .then( (response)=>{
                    this.musicList.push(...response.data.result.songs);
                })
            },
            playMusic(musicId){ 
                //获取歌曲地址
                axios.get("https://autumnfish.cn/song/url?id="+musicId)
                .then(response=>{
                    this.musicUrl = response.data.data[0].url;
                     this.isPlaying = true;
                });

                //获取歌曲详情
                axios.get("https://autumnfish.cn/song/detail?ids="+musicId)
                .then(response=>{
                    this.musicCover = response.data.songs[0].al.picUrl;
                });

                //获取歌曲详情
                axios.get("https://autumnfish.cn/comment/hot?type=0&id="+musicId)
                .then(response=>{
                    this.hotComments = response.data.hotComments;
                    this.conmmentNum = response.data.total;
                });
            },
            loadmoreComment() {
                const temLength = this.hotComments.length;
                if (temLength===this.conmmentNum) {
                    return;
                }
                axios.get("https://autumnfish.cn/comment/hot?type=0&id="+musicId+"&limit=30"+"&offset="+temLength)
                .then(response=>{
                    this.hotComments.push(...response.data.hotComments);
                });
            },
            play(){
                this.isPlaying = true;

            },
            pause(){
                this.isPlaying = false;
            },
            playMv(mvid){
                axios.get("https://autumnfish.cn/mv/url?id="+mvid)
                    .then(response=>{
                        this.isShow = true;
                        this.$refs.audio.pause();
                        this.mvUrl = response.data.data.url;
                    },err=>{});
            },
            hide(){
                this.isShow = false;
                this.$refs.video.pause();
            }

        },
        mounted(){
            this.$refs.song_list_wrapper.addEventListener('scroll',($event)=>{
                const scrollTop = this.$refs.song_list_wrapper.scrollTop;
                const scrollHeight = this.$refs.song_list_wrapper.scrollHeight;
                const clientHeight = this.$refs.song_list_wrapper.clientHeight;
                if (scrollTop + clientHeight >= scrollHeight) {
                    this.loadmoreMusic();
                }
            });
        },
    })
    app.mount('#app');
</script>
</body>
</html>
